* {
    box-sizing: border-box;
}

$Almost-white: hsl(0, 0%, 98%);
$Meduim-gray: hsl(0, 0%, 41%);
$Almost-black: hsl(0, 0%, 8%);
$White: hsl(0, 0%, 100%);
$Attribution: hsl(228, 45%, 44%);

body {
    font-family: 'Epilogue', sans-serif;
    // font-size: 1px;
    background-color: $Almost-white;
}
a {
    color: gray;
    text-decoration: none;
}
a:hover {
    color: $Almost-black;
}
